.pw-icon {
  height: 35%;
  width: 50%;
}
.pw-icon1 {
  height: 60%;
  width: 30%;
}
.header {
  margin-left: 5;
  padding-left: 5;
}
.nav_style {
  margin-top: 0;
  height: 25%;
  width: 105%;
}
.head_right {
  display: flex;
  text-align: right;
}
.img_style {
  height: 65%;
  width: 140px;
}
.img_style1 {
  height: 85%;
  width: 150px;
}

.h-7vh {
  height: 7vh;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%);
}

.place-self-center {
  place-self: center;
}

.flex-md-row {
  flex-direction: row !important;
}

@media only screen and (max-width: 768px) {
  .flex-sm-column {
    flex-direction: column !important;
  }
  .justify-content-sm-between {
    justify-content: center;
  }
  .header-height {
    height: auto;
  }
}

.justify-content-md-between {
  justify-content: space-between;
}

.header-height {
  height: 6vh;
}
